# Local .terraform directories
.terraform/

# .tfstate files and backups
*.tfstate
*.tfstate.*.backup

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files (if they contain sensitive data)
# Note: only exclude if you use a secure method to manage variables
# *.tfvars
# *.tfvars.json

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rcfoundation.tf
modules/ecr
